html {
    font-family: 'Poppins', sans-serif;
    background-color: rgb(149, 196, 214);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

.container {
    max-width: 1024;
    margin: 0 auto;
}

/* logo */

.logo {
    margin-right: 10px;
 }

.app-name{
    font-size: 32px;
 }

.logo
.app-name {
    vertical-align: middle;
}
     

/* header */

.main-header {
    background-color: white;
    padding: 20px 12px;
}

/* card */

.card {
	background-color: white;
	border-radius: 4px;
	max-width: 700px;
	margin: 0 auto;
}

.card__header {
    padding-top: 12px;
    padding-bottom: 12px;
    border-bottom: 1px solid rgb(149, 196, 214);
}

.card__body {
	padding-top: 24px;
	padding-bottom: 24px;
}

.card__header,
.card__body {
    padding: 0px 32px;
}

.main-header .container *{
    vertical-align: middle;
}


/* main */

.main-content {
    padding: 42px 32px;
}

.add-section {
    background-color: white;
    color: grey;
    border-radius: 15%;
    border: solid thin gray;
    text-align: center;
}

/* Task */

.task {
	margin-bottom: 8px;
}

.task * {
	margin-right: 8px;
}

.task__icon,
.task__category {
	display: inline-block;
}

.task__icon {
	border: 1px solid;
	/* height: 32px; */
	width: 24px;
	border-radius: 50%;
	text-align: center;
	line-height: 22px;
}

.task__icon.icon-check {
	color: green;
}

.task__icon.icon-cross {
	color: red;
}

.task__category {
	line-height: 28px;
	font-size: 12px;
	color: white;
	border-radius: 12px;
	padding: 0 10px;
}

.task__category.category-editorial {
	background-color: rgb(77, 109, 255);
}

.task__category.category-website {
	background-color: rgb(255, 109, 189);
}

.task__category.category-Q1goals {
    background-color: rgb(187, 55, 248);
}

.task__category.category-recruiting {
    background-color: rgb(40, 185, 204);
}

.task__category.category-mobile {
    background-color: rgb(252, 130, 50);
}

.task__category.category-sales {
    background-color: rgb(158, 252, 50);
}

