html {
    font-family: 'Poppins', sans-serif;
    background-color: rgb(115, 170, 192);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1024;
    margin: 0 auto;
}

/* logo */

.logo {
    margin-right: 10px;
 }

.app-name{
    font-size: 32px;
 }

.logo
.app-name {
    vertical-align: middle;
}
     

/* header */

.main-header {
    background-color: white;
    padding: 20px 12px;
}

/* card */

.card {
	background-color: white;
	border-radius: 4px;
	max-width: 700px;
	margin: 0 auto;
}

.card__header {
    padding-top: 12px;
    padding-bottom: 12px;
    border-bottom: 1px solid #eeeeee;
}

.card__body {
	padding-top: 24px;
	padding-bottom: 24px;
}

.card__header,
.card__body {
    padding: 0px 32px;
}

.main-header .container *{
    vertical-align: middle;
}


/* main */

.main-content {
    padding: 42px 32px;
}

.add-section {
    background-color: white;
    color: grey;
    border-radius: 15%;
    border: solid thin gray;
    text-align: center;
}

/* card */

.card {
background-color: white;
border-radius: 10px;
max-width: 600px;
padding: 32px 32px;
margin: 0 auto;
}

/* liste */

ul {
    list-style: none;
}

.blue-box {
    background-color: rgb(51, 145, 145);
    color: white;
    border-radius: 15%;
    text-align: center;
}

.app-box {
    background-color: rgb(125, 81, 228);
    color: white;
    border-radius: 15%;
    text-align: center;
}
.recruiting-box {
    background-color: rgb(81, 228, 137);
    color: white;
    border-radius: 15%;
    text-align: center;
}
.mobile-box {
    background-color: rgb(255, 133, 32);
    color: white;
    border-radius: 15%;
    text-align: center;
}
.homepage-box {
    background-color: rgb(255, 41, 237);
    color: white;
    border-radius: 15%;
    text-align: center;
}
.members-box {
    background-color: rgb(109, 255, 41);
    color: white;
    border-radius: 15%;
    text-align: center;
}
.green-flag {
    color: green;
}
.red-x {
    color: red;
}